<form [formGroup]="agendamentoForm" 
      (ngSubmit)="onSubmit()"        
      class="agendamento-form">
      
  <div class="form-header">
    <h3 class="form-title">Agendamento de Serviço</h3>
    <p class="form-subtitle">Preencha os dados abaixo para agendar seu atendimento</p>
  </div>

  <div class="form-body">
    <div class="form-grid">
      
      <div class="form-group">
        <mat-form-field appearance="outline" class="custom-field">
          <mat-label>Nome do Cliente</mat-label>
          <input matInput formControlName="nome" />
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="outline" class="custom-field">
          <mat-label>Profissional</mat-label>
          <mat-select formControlName="">
            <mat-option value="">
              <em>Selecione um Profissional</em>
            </mat-option>
            <mat-option *ngFor="" [value]="">
            </mat-option>
          </mat-select>
          <mat-icon matSuffix>build</mat-icon>
        </mat-form-field>
      </div>
     

      <div class="form-group">
        <mat-form-field appearance="outline" class="custom-field">
          <mat-label>Serviço</mat-label>
          <mat-select formControlName="procedimentoId">
            <mat-option value="">
              <em>Selecione um procedimento</em>
            </mat-option>
            <mat-option *ngFor="let proc of procedimentos" [value]="proc.id">
              {{ proc.servico }}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix>build</mat-icon>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="outline" class="custom-field">
          <mat-label>Data</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dataHora">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="outline" class="custom-field">
          <mat-label>Hora</mat-label>
          <input matInput type="time" formControlName="hora">
          <mat-icon matSuffix>schedule</mat-icon>
        </mat-form-field>
      </div>

      <div class="form-group full-width">
        <mat-form-field appearance="outline" class="custom-field">
          <mat-label>Telefone</mat-label>
          <input matInput formControlName="numeroTelefone" placeholder="(99) 99999-9999" />
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>
      </div>

    </div>
  </div>

  <div class="form-footer">
    <button mat-raised-button 
            color="" 
            type="submit"
            class="btn-submit">
      Confirmar Agendamento
    </button>
  </div>

</form>