body {
  background-color: #f1f3f5; /* cor de fundo suave */
}

.formulario {
  max-width: 850px;
  margin: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

mat-form-field {
  background-color: #fff;
  border-radius: 4px;
}
