<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #161616;">
    <div class="container">
      <!-- Logo -->
      <a class="navbar-brand fw-bold" href="#">LOGO</a>
  
      <!-- Botão toggle para mobile -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Menu colapsável -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/agendamentos">Agendamentos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Sobre mim</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <router-outlet></router-outlet>
  