
<body>
    <div class="container-mt">
        <div class="row" style="justify-content: space-between;">
                <div class="col-sm-3" style="background-color: black; color: antiquewhite; margin-left: 40%; margin-bottom: 2%; margin-top: 2%;">
                    <h1 style="margin-left: 20%;">LOGO MARCA</h1>
                </div>
                <div class="col-sm-3">
                    <h2 style="margin: 2%; font-size: 65px;">BEM-VINDO</h2>
                </div>
        </div>
    </div>

  <main class="container">
    <img src="assets/imagens/salon.jpg" alt="Imagem do salão" class="salon-image">
  </main>
</body>