
.custom-item {
  text-align: center;
  gap: 1rem; 
  flex-wrap: wrap; 
}

.custom-item > div {
  flex: 1 1 100%;
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .custom-item > div {
    flex: 0 0 auto; 
    margin-bottom: 0;
  }
}

.acoes {
  flex-basis: 100%;
  margin-top: 0.5rem;
}

.acoes button {
  min-width: 100px;
}
