<div class="d-flex justify-content-center">
  <ul class="list-group w-100" style="max-width: 700px;">
    <li *ngFor="let agendamento of agendamentos"
        class="list-group-item d-flex flex-column flex-md-row justify-content-center align-items-center rounded custom-item"
        style="
          text-align: center;
          gap: 1rem;
          margin: 1rem auto;
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* sombra escura */
        ">

      <div>
        <strong>#{{ agendamento.id }}</strong> - 
        <span class="text-muted">{{ agendamento.dataHora | date: 'short' }}</span>
      </div>

      <div>
        <span class="badge bg-secondary me-2">{{ agendamento.nome }}</span>
        <span class="badge bg-info text-dark">{{ agendamento.numeroTelefone }}</span>
      </div>

      <div>
        <small class="text-muted">
          Procedimento: {{ agendamento.procedimentoId?.servico }}
        </small>
      </div>

      <div>
        <span class="badge"
              [ngClass]="{
                'bg-success': agendamento.status === 'ATENDIDO',
                'bg-warning text-dark': agendamento.status === 'EM ABERTO',
                'bg-secondary': agendamento.status !== 'EM ABERTO' && agendamento.status !== 'ATENDIDO'
              }">
    {{ agendamento.status || 'PENDENTE' }}
        </span>
      </div>

      <div class="acoes mt-2 d-flex gap-2 justify-content-center">
        <button mat-raised-button color="primary"
                (click)="marcarComoConcluido(agendamento.id!)"
                [disabled]="agendamento.status === 'ATENDIDO'">
          Concluir
        </button>

        <button mat-raised-button color="warn"
                (click)="deletarAgendamento(agendamento.id!)">
          Excluir
        </button>
      </div>

    </li>
  </ul>
</div>
